<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Chating</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div class="container">
        <h1>채팅방</h1>
        <div id="roomContainer" class="roomContainer">
            <table id="roomList" class="roomList"></table>
        </div>
        <div>
            <table class="inputTable">
                <tr>
                    <th>방 제목</th>
                    <th><input type="text" name="roomName" id="roomName"></th>
                    <th><button id="createRoom">방 만들기</button></th>
                </tr>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        let ws
        window.onload = function() {
            getRoom();
            createRoom();
        }

        const getRoom = () => {
            commonAjax('/getRoom', "", 'post', (result) => {
                createChattingRoom(result);
            });
        };

        const createRoom = () => {
            $("#createRoom").click(function(){
                let msg = {	roomName : $('#roomName').val()	};

                commonAjax('/createRoom', msg, 'post', (result) => {
                    createChattingRoom(result);
                });

                $("#roomName").val("");
            });
        };

        const goRoom = (number, name) => {
            location.href="/moveChatting?roomName="+name+"&"+"roomNumber="+number;
        };

        const createChattingRoom = (res) => {
            if(res != null) {
                let tag = "<tr><th class='num'>순서</th><th class='room'>방 이름</th><th class='go'></th></tr>";
                res.forEach(function(d, idx){
                    var rn = d.roomName.trim();
                    var roomNumber = d.roomNumber;
                    tag += "<tr>"+
                                "<td class='num'>"+(idx+1)+"</td>"+
                                "<td class='room'>"+ rn +"</td>"+
                                "<td class='go'><button type='button' onclick='goRoom(\""+roomNumber+"\", \""+rn+"\")'>참여</button></td>" +
                            "</tr>";	
                });
                $("#roomList").empty().append(tag);
            }
        };

        const commonAjax = (url, parameter, type, callback, contentType) => {
            $.ajax({
                url: url,
                data: parameter,
                type: type,
                contentType: contentType!=null?contentType:'application/x-www-form-urlencoded; charset=UTF-8',
                success: (res) => {
                    callback(res);
                },
                error: (err) => {
                    console.log('error');
                    callback(err);
                }
            });
        };
    </script>
</body>
</html>